* {
  font-family: Roboto, sans-serif;
}

body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  /* overflow: hidden; */
  background-color: rgb(250, 249, 246);
}
h3 {
  color: #1976d2;
}
h2 {
  color: #1976d2;
}

#top {
}

#SmoreLogo {
  height: 100px;
  width: auto;
  margin-top: 50px;
}
/*imported app and tree */
#middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em;
  height: 100%;
  /* align-content: space-between; */
}

#importForm {
  display: flex;
  flex-direction: column;
  width: 45%;
}
#dash {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 20px;
}
#importFormButton {
  /* height: px; */
  /* display: flex;
  flex-direction: row; */
}

#flow-pad {
  margin-top: 135px;
  width: 45%;
  border: black solid 1px;
}

#frameId {
  height: 100%;
  width: 100%;
}

#stateData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

#component-tree-tag {
  margin-top: -135px;
}
/* data */

#atoms {
  display: flex;
  flex-direction: column;

  padding: 30px;
  align-content: space-around;
  border-style: dotted;
  text-align: left;
}

#atomDiv {
  color: rgb(7, 167, 159);
  border-style: dotted;
  border-color: rgb(7, 167, 159);
  padding: 25px;
}
#atomDiv H3 {
  color: rgb(7, 167, 159);
}
#selectorDiv {
  color: rgb(12, 79, 223);
  border-style: dotted;
  border-color: rgb(12, 79, 223);
  padding: 25px;
}
